
/*---------------------------------------
   COMMON STYLES             
-----------------------------------------*/


.parallax {
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*---------------------------------------
   SECTION TESTIMONIAL              
-----------------------------------------*/
#owl-demo .item {
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 50px;
}
#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}
.testimonial {
    background: url(images/testimonial.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.testimonial .section_overlay {
    background: rgba(0, 0, 0, .6);
    padding-top: 80px;
    padding-bottom: 80px;
}
.carousel-indicators {
    bottom: -8px;
}
div.carousel-inner .item img {
    border: 2px solid #f21c25;
    border-radius: 50%;
    padding: 3px;
}
.testimonial_caption {
    padding-bottom: 70px;
}
.testimonial_caption p {
    color: #D8D8D8;
    font-size: 18px;
    line-height: 27px;
    padding-top: 50px;
}
.testimonial_caption h2 {
    color: #f21c25;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    margin-top: 25px;
}
.testimonial_caption h4 {
    color: #f21c25;
}
.testimonial_caption h4 span {
    color: #D8D8D8;
    font-style: italic;
    font-weight: 300;
}
.testimonial ol.carousel-indicators li {
    width: 12px;
    height: 12px;
    border: 1px solid #f21c25;
    margin: 1PX
}
.testimonial ol.carousel-indicators li.active {
    width: 12px;
    height: 12px;
    border: 0px solid #f21c25;
    background: #f21c25;
}
/*---------------------------------------
   SECTION FEATURES              
-----------------------------------------*/

.features {
    background-color: #f1f1f1
}
.feature_inner {
    padding-top: 30px;
    padding-bottom: 70px;
}
.feature_iphone {} .feature_iphone img {
    width: 100%;
}
.right_single_feature {
    position: relative;
    padding-left: 90px;
    margin-bottom: 65px;
    margin-top: 35px;
}
.right_single_feature div {
    position: absolute;
    font-size: 40px;
    color: #b575f5;
    left: 0;
    width: 90px;
    height: 90px;
    text-align: center;
    top: -8px;
}
.right_single_feature h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 21px;
    color: #333333;
}
.right_single_feature h3 span {
    color: #f21c25;
}
.right_single_feature p {
    color: #333;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}
/*left feature*/

.left_single_feature {
    position: relative;
    padding-right: 90px;
    margin-bottom: 65px;
    text-align: right;
    margin-top: 35px;
}
.left_single_feature div {
    position: absolute;
    font-size: 40px;
    color: #f21c25;
    right: 0;
    width: 90px;
    height: 90px;
    text-align: center;
    top: -8px;
}
.left_single_feature h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 21px;
    color: #333333;
}
.left_single_feature h3 span {
    color: #f21c25;
}
.left_single_feature p {
    color: #333;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}
.right_no_padding {
    padding-left: 15px;
}
.left_no_padding {
    padding-right: 15px;
}
@media (min-width: 991px) and (max-width: 1200px) {
    .right_single_feature {
        margin-left: -60px;
    }
    .left_single_feature {
        margin-right: -60px;
    }
    .feature_iphone {
        margin-top: 35px;
    }
    .right_single_feature h3,
    .left_single_feature h3 {
        margin-top: 0px;
        margin-bottom: 15px;
    }
}
/*---------------------------------------
   SECTION DOWNLOAD              
-----------------------------------------*/

.download {
    background: #f1f1f1;
}
.download_screen {
    padding-top: 45px;
}
.download_screen img {
    width: 100%
}
.available_store {
    background: #1a1a1a;
    margin-top: -8px;
    position: relative;
}
.available_title {
    padding-top: 75px;
}
.available_title h2 {
    color: #fff;
    font-size: 30px;
}
.available_title p {
    color: #B5B5B5;
}
.single_store {
    text-align: center;
    border-left: 1px solid #0F1217;
    min-height: 230px;
    padding-bottom: 15px;
    position: relative;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.single_store i {
    color:#f21c25;
    text-align: center;
    opacity: 1;
    font-size: 40px;
    padding-top: 90px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.store_inner {
    position: absolute;
    bottom: 93px;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.store_inner h2 {
    text-align: center;
    font-weight: 300;
    color: #d7dadb;
    font-size: 16px;
}
.single_store:hover {
    background: #121212;
}
.single_store:hover i {
    opacity: 0;
}
.single_store:hover div.store_inner {
    opacity: 1;
}
.no_padding {
    padding-left: 0px;
    padding-right: 0px;
}
.last {
    border-right: 1px solid #0F1217;
}

